# --- Force detection by file extensions ---

# C
*.c   linguist-detectable=true
*.h   linguist-detectable=true

# C++
*.cpp linguist-detectable=true
*.hpp linguist-detectable=true

# Java
*.java linguist-detectable=true

# Python
*.py linguist-detectable=true

# Node.js
*.js linguist-detectable=true

# --- Ignore compiled/binary files ---
*.class linguist-vendored
*.o     linguist-vendored
*.exe   linguist-vendored
*.out   linguist-vendored
*.so    linguist-vendored
*.dll   linguist-vendored
__pycache__/* linguist-vendored
